@import "reset.css";
@import "variables.css";
@import "components/login.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user.css";
@import "components/friends.css";
@import "components/chats.css";
@import "components/more.css";
@import "components/chat.css";
@import "components/bigScreen.css";
@import "components/mobile.css";
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
