#friends {
	display: block;
	background-color: lightgray;
	opacity: 0.5;
	padding-left: 20px;
	padding-bottom: 10px;
	font-size: 15px;
}

#friends input {
	width: 150px;
	height: 20px;
	margin-left: 10px;
}

.friends-channel {
	margin-top: 20px;
	margin: 20px 10px;
	border-top: 1px solid gray;
	padding-top: 15px;
}

.friends-channel__header {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
}
