.status-bar {
	display: flex;
	justify-content: center;
	padding: 5px 3px;
}

.status-bar__column {
	width: 33%;
}

.status-bar__column:first-child span {
	margin-right: 5px;
}

.status-bar__column:nth-child(2) {
	display: flex;
	justify-content: center;
}

.status-bar__column:last-child {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.status-bar__column .fa-battery-full {
	margin: 0px 5px;
}

.login-header {
	margin: 90px 0px;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	font-weight: 500;
}

.login-header__title {
	margin-bottom: 20px;
	font-size: 25px;
}

.login-header__text {
	width: 55%;
	color: gray;
}

#login-form {
	margin: 0px 30px;
	display: flex;
	flex-direction: column;
}

#login-form input {
	padding: 15px 0px;
	border: none;
	font-size: 17px;
	margin-bottom: 25px;
}

#login-form input:not([type="submit"]) {
	border-bottom: 1px solid gray;
	transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
	opacity: 0.7;
}

#login-form input:focus {
	border-color: var(--yellow);
}

#login-form input[type="submit"],
#login__friends {
	background-color: var(--yellow);
	cursor: pointer;
	font-size: 18px;
	padding: 18px 0px;
	border-radius: 5px;
}

#login-form a {
	text-align: center;
	text-decoration: none;
	color: inherit;
	font-size: 14px;
	opacity: 0.4;
}
