.icon {
	margin: 30px;
	font-size: 23px;
	display: flex;
	align-items: center;
}

.icon__icon {
	margin-bottom: 7px;
	margin-left: 10px;
	opacity: 0.6;
}

.more .icon {
	margin-top: 35px;
}

.more {
	margin-left: 30px;
	margin-top: 30px;
	padding-top: 30px;
}

.more__title {
	margin-bottom: 20px;
	font-size: 20px;
}

.more__icons {
	display: flex;
}

.more__icon {
	margin-right: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.more__image {
	width: 60px;
	height: 60px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.more__image i {
	font-size: 32px;
	color: white;
}
